@import "./theme";

html .prose {
  a:not(.btn) {
    color: lighten($primary, 10%);
    transition: color 0.15s ease-out;
    text-decoration: none;

    &:hover {
      color: lighten($primary, 5%);
      text-decoration: underline;

    }
  }
}

.form-control {
  width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  color: white;

  height: 24px;
  width: 24px;
  margin-left: .4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='currentColor' fill='currentColor'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

html {
  a.link-primary {
    color: lighten($primary, 10%);

    &:hover {
      color: lighten($primary, 5%);
      text-decoration: underline;

    }
  }

  pre,
  .prose pre {
    padding: 1.5rem;
    background: #1c1b1b;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */

    &:has(>code) {
      background: #1c1b1b;
    }

    code.hljs {
      padding: 0;
    }

  }

}